<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sum.com/xml/ns/javaee" xsi:schemaLocation="http://java.sum.com/xml/ns/javaee http://java.sum.com/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 
 <!-- 에러페이지 등록 -->
 <error-page>
 	<error-code>404</error-code>
 	<location>/error/error404.jsp</location>
 </error-page>
 <!-- <error-page>
 	<error-code>500</error-code>
 	<location>/error/error500.jsp</location>
 </error-page> -->
 <error-page>
	<exception-type>java.lang.NullPointerException</exception-type>
	<location>/error/errorNullPointer.jsp</location>
 </error-page>
 
 <!-- 
 <display-name>Servletproject_db</display-name>
<servlet>
 <servlet-name>VisitInsert2</servlet-name>
 <servlet-class>com.bbs.VisitInsert2</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>VisitInsert2</servlet-name>
 <url-pattern>/VisitInsert</url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name>VisitList</servlet-name> 
 <servlet-class>com.bbs.VisitList</servlet-class>
</servlet>
 
 <servlet-mapping>
 <servlet-name>VisitList</servlet-name>
 <url-pattern>/VisitList</url-pattern>
 </servlet-mapping>-->

<!-- 리스너 설정 -->
<!-- <listener>
	<listener-class>com.test.ContextListenerImpl</listener-class>
</listener> -->

<!-- Filter 등록 -->
<!-- <filter>
	<filter-name>myFilter</filter-name>
	<filter-class>com.test.MyFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>myFilter</filter-name>
	<url-pattern>/*</url-pattern> 모든것 요청을 처리한다는 뜻
</filter-mapping> -->



</web-app>