<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sum.com/xml/ns/javaee" xsi:schemaLocation="http://java.sum.com/xml/ns/javaee http://java.sum.com/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 <!-- <display-name>Servletproject_db</display-name>
<servlet>
 <servlet-name>VisitInsert2</servlet-name>
 <servlet-class>com.bbs.VisitInsert2</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>VisitInsert2</servlet-name>
 <url-pattern>/VisitInsert</url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name>VisitList</servlet-name> 
 <servlet-class>com.bbs.VisitList</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>VisitList</servlet-name>
 <url-pattern>/VisitList</url-pattern>
 </servlet-mapping>-->

<!-- 리스너 설정 -->
<listener>
	<listener-class>com.test.ContextListenerImpl</listener-class>
</listener>



</web-app>