@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}
#frame {
	width: 100%;
	height: 100%;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
}
#user_map {
	position: absolute;
	right: 0;
	width: 30%;
	height: 100%;
	background-color: #bde0fe;
}